<form action="/post" method="post">
	Step1: <input type="text" name="Step1"> <br>
	Step2: <input type="text" name="Step2"> <br>
	Step3: <input type="text" name="Step3"> <br>
	<button type="submit">Post</button>
</form>